/* common */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  color: #3F3B39;
  background-color: #fff;
}

hr {
  color: #270949;
}

h3, h5 {
  color: #270949;
}

a {
  text-decoration: none;
}


/* header */
header {
  max-width: 1920px;
  margin: 0 auto;
  border-bottom: 1px solid #270949;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 16px;
}

.miraikikin-logo {
  max-width: 200px;
  height: auto;
}

.tpsg-logo {
  max-width: 200px;
  height: auto;
}

.miraikikin-tpsg {
  max-width: 300px;
  height: auto;
}

/* main */
main {
  max-width: 1920px;
}

.title {
  color: #270949;
}

.kyumin_img {
  width: 75%;
  margin: 0 auto;
}

.kyumin_yokin_flow_img {
  width: 100%;
  height: auto;
}

.tr_responsive th {
  width: 25%;
}

.phase-title {
  color: #270949;
}

table thead tr th {
  background-color: #270949 !important;
  color: #fff !important;
  vertical-align: middle;
}

.action-btn a:hover {
  color: #fff;
}

/* footer */
footer {
  background-color: #eee;
}

.contact {
  display: flex;
  justify-content: space-evenly;
  gap: 32px;
  width: 75%;
}

.footer_logo {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.contact p {
  font-size: 14px;
  margin-bottom: 4px;
}

.copyright {
  background-color: #666;
}


/* responsive - tablet */
@media screen and (max-width:768px) {
  header {
    flex-direction: column;
  }

  .header-left, .header-right {
    margin-left: 0;
    width: 75%;
  }

  .miraikikin-logo, .tpsg-logo {
    max-width: 45%;
    height: auto;
  }

  .miraikikin-tpsg {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-top: 10px;
  }


  .kyumin_img {
    width: 100%;
    margin: 0;
  }

  .tr_responsive {
    display: flex;
    flex-direction: column;
  }

  .tr_responsive th {
    width: 100%;
  }

  .contact {
    flex-direction: column;
    width: 50%;
  }
}

@media screen and (max-width:414px) {
  .header-left, .header-right {
    width: 100%;
  }
}
